
<div class = "textfont">
    <table align = "center">
		<p style="font-size:15px"> You have successfully been rgistered</p> 
		<p> click <%= link_to "here", {:controller => "employee", :action => "login"} %> to login <p>
		
	<table>
</div>
