<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script>
	$(document).ready(function(){
		$('#myclass').change(function() {
			$.ajax({ 
				  type: 'GET', 
				  url: '/employee/getSecondPre', 
				  data: {'id' : $('#myclass').val()},
				  success: function(data) 
				  {
							$('#my').empty();
							$.each(data,function(i, v) {
						    $('#my').append( $('<option value="'+ data[i][0] +'">'+data[i][1] +'</option>'));
						   });
				 } 
			  });
		});
	});	
</script>


<script>
	function validateForm()
	{

		var prequisite		 	 = 		document.getElementById('prequisite');
		var description		 	 = 		document.getElementById('description');


		var prequisitelen 		 = 		prequisite.value.length;
		var descriptionlen 	 	 = 		description.value.length;
		
		if (prequisitelen == 0 || descriptionlen == 0)
		{
			alert("some field is empty");  
			return false;
		}
		
		else
		{
			return true;
		}

	}
</script>
<style>
	.drop {
				width:220px;
			  }
	.drop option {
					width:220px;
				 }

</style>

<div class = "textfont">
	<table width="60%" border="0" cellpadding="0" cellspacing="10">
		<tr>
			<td width = "270">
				Category
			</td>
			<td>
				<%= select_tag "sel_group", options_for_select(@prequisite) , {:id => "myclass" , :class => "drop"}%>
			</td>
		</tr>
		<tr>
			<td>Speciality 
			</td>
			<td>
				<%= select_tag "sel_group1", options_for_select(@subprequisite) ,{:id => "my" , :class => "drop" }%>
			</td>

		</tr>
		
		<tr>
			<td>Prequisite
			</td>
			<td>
				<input type="text" name="prequisite" id="prequisite"></td>
			</td>

		</tr>
		
		<tr>
			<td>Description
			</td>
			<td>
				<input type="text" name="description" id="description"></td>
			</td>

		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" name="add" value="Add" id="add" onclick ="return validateForm()">
				<input type="submit" name="cancel" value="Cancel" id="cancel">
			 </td>
		</tr>
	<table>
</div>
