<div class = "textfont">
	<div style="text-align:left;">
		<table align ="left">
			<tr>
				<td width="150px">Institution *</td>
				<td><input type="text" name="university"  id="university" ></td>
			</tr>	
			<tr>
				<td>Degree *</td>
				<td><input type="text"  name="certificate" id="certificate"></td>
			</tr>
			
			<tr>
				<td>Field of Study *</td>
				<td><input type="text" name="field" id="field"> </td>
			</tr>
			<tr>
				<td>Date *</td>
				<td><input type="text" name="from" id="opdate"> </td>
			</tr>
			<tr>
				<td colspan="2">
					<ul style="float:left;list-style:none;margin-left:-40px;">
						<li style="float:left;list-style:none;"><button type="button">Add</button></li>
						<li style="float:left;list-style:none;margin-top:-20px;"><%= submit_tag "Cancel", :onclick => "window.close()"  %></li>
					<ul>
				 </td>
			</tr>
		</table>
	</div>
</div>


