<title>Employee</title>
<table width="90%" border="0" cellpadding="0" cellspacing="0" align ="center" >
	<div class ="fontHeading " align = "center"><h1>Dashboard</h1></div>
	<tr>
		<td>
			<%= form_tag(:action => "openApplication") do  %>	
				<%= render 'formOpenApplication' %>
			<%end%>
		</td>
	</tr>
</table>
