

<style>
	table.serifa{font-family:Arial,Helvetica,sans-serif;}
</style>


<div class = "textfont">
	<div style="text-align:center;">
	<table align ="center">
		<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Scoring Model<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="category">
							  <option value="totscore">Evaluated Average</option>
							  <option value="sklscore">Candidate Score</option>
							  <option value="prequisitescore">Evaluated Score</option>
							</select> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		<tr>
	</table>	
		<table align ="center" class ="serifa" >
		
		<tr align ="left">
			<td><td>
			<td><input type="checkbox" name="interview" value="interview">Extend an offer<td>
			<td><input type="checkbox" name="interview" value="interview">Extend an offer<td>
			<td><input type="checkbox" name="interview" value="interview">Extend an offer<td>
		</tr>
		
		<tr>
			<td>Required Skill<td>
			<td bgcolor="#4D94FF">Candidate 1<td>
			<td bgcolor="#4D94FF">Candidate 2<td>
			<td bgcolor="#4D94FF">Candidate 3<td>
		</tr>

		<tr>
			<td>Required Skill 1<td>
			<td bgcolor="#A6CAFF">10<td>
			<td bgcolor="#A6CAFF">7<td>
			<td bgcolor="#A6CAFF">8<td>
		</tr>
		<tr>
			<td>Required Skill 2<td>
			<td bgcolor="#E4EFFF">9<td>
			<td bgcolor="#E4EFFF">7<td>
			<td bgcolor="#E4EFFF">6<td>
		<tr>
			<td>Required Skill 3<td>
			<td bgcolor="#A6CAFF">6<td>
			<td bgcolor="#A6CAFF">7<td>
			<td bgcolor="#A6CAFF">9<td>
		</tr>
		<tr>
			<td>Total<td>
			<td bgcolor="#E4EFFF">25<td>
			<td bgcolor="#E4EFFF">21<td>
			<td bgcolor="#E4EFFF">23<td>
		</tr>
		<tr>
			<td>Desired Skill<td>
			<td><td>
			<td><td>
			<td><td>
		</tr>
		
		<tr>
			<td>Desired Skill 1<td>
			<td bgcolor="#A6CAFF">8<td>
			<td bgcolor="#A6CAFF">7<td>
			<td bgcolor="#A6CAFF">7<td>
		</tr>
		<tr>
			<td>Desired Skill 2<td>
			<td bgcolor="#E4EFFF">9<td>
			<td bgcolor="#E4EFFF">7<td>
			<td bgcolor="#E4EFFF">8<td>
		</tr>
		<tr>
			<td>Desired Skill 3<td>
			<td bgcolor="#A6CAFF">8<td>
			<td bgcolor="#A6CAFF">9<td>
			<td bgcolor="#A6CAFF">8<td>
		</tr>
		<tr>
			<td>Total<td>
			<td bgcolor="#E4EFFF">25<td>
			<td bgcolor="#E4EFFF">23<td>
			<td bgcolor="#E4EFFF">23<td>
		<tr>
			<td>Prerequisite<td>
			<td><td>
			<td><td>
			<td><td>
		</tr>
		<tr>
			<td>Prerequisite 1<td>
			<td bgcolor="#A6CAFF">8<td>
			<td bgcolor="#A6CAFF">7<td>
			<td bgcolor="#A6CAFF">9<td>
		</tr>
		<tr>
			<td>Prerequisite 2<td>
			<td bgcolor="#E4EFFF">7<td>
			<td bgcolor="#E4EFFF">8<td>
			<td bgcolor="#E4EFFF">7<td>
		</tr>
		
		<tr>
			<td>Prerequisite 3<td>
			<td bgcolor="#A6CAFF">9<td>
			<td bgcolor="#A6CAFF">7<td>
			<td bgcolor="#A6CAFF">8<td>
		</tr>
		
		<tr>
			<td>Total<td>
			<td bgcolor="#E4EFFF">24<td>
			<td bgcolor="#E4EFFF">22<td>
			<td bgcolor="#E4EFFF">24<td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" name="add" value="Add" id="add"><td>
			<td></td>
			<td></td>
		</tr>
		</table>
	</div>
</div>
