<script>
	$(document).ready(function(){
		$("#btn").hide();
	});	
</script>

<script>
	function validateDesOrPri(val)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var value = $("#drp_"+val).val()
			$.ajax({ 
					  type: 'GET', 
					  url: '/home/desiredOrRequired', 
					  data: {'id' : value, 'skill' : val, 'jobID' : jobIDVal},
					  success: function(data) 
					  {
					  } 
				  });
		}
</script>

<script>
	function validatePrior(value)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var reg = /^\d+$/;
			var priority 		 = 		document.getElementById("prior_"+value);
			var priorityVal		 = 		priority.value;
			if(priorityVal.match(reg))
			{
				if(priorityVal >0 && priorityVal < 11)
				{
					$.ajax({ 
							  type: 'GET', 
							  url: '/home/skillRatingPriorityVal', 
							  data: {'priorityVal' : priorityVal, 'skill' : value, 'jobID' : jobIDVal},
							  success: function(data) 
							  {
							  } 
						  });
				}
				else
				{
					alert("Priority entered not between 1 to 10");
					return false;
				}
			} 
			else
			{
				alert("Please enter an integer value");
				return false;
			} 
		}
</script>	

<script>
	function validateRank(value)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var reg = /^\d+$/;
			var rank 		 	 = 		document.getElementById("rank_"+value);
			var rankVal 		 = 		rank.value;
			if(rankVal.match(reg))
			{
				if(rankVal >0 && rankVal < 11)
				{
					$.ajax({ 
							  type: 'GET', 
							  url: '/home/skillRatingRankVal', 
							  data: {'rankVal' : rankVal, 'skill' : value, 'jobID' : jobIDVal},
							  success: function(data) 
							  {
							  } 
						  });
				}
				else
				{
					alert("Rank entered not between 1 to 10");
					return false;
				}
			} 
			else
			{
				alert("Please enter an integer value");
				return false;
			} 
		}
</script>	


<input type = "hidden" name = "jobIDVal" id = "jobID" value = <%= @jobID %> >
<div class = "textfont">
	<table align ="center">
		 <tr>
			<td>Title</td><td><input type="text" style="height:25px;font-size:10pt;" size=80" value="<%= @jobName %>" name="title" id="title"> </td>
		 </tr>
	</table>
	
	<table>
		<tr>
			<td><p><div class = "textfont"><span style="width:80px;float:left;">Click on the</span><div style="width:50px;float:left;"> <%= link_to "Add", {:controller => "home", :action => "popupForSkill" , :id => @jobID.to_s},  :onclick=>"window.open(this.href,'myEducationPopup', 'scrollbars=yes,height=450,width=530,top=250,left=600' ); return false;" %></div><span style="width:55%;float:left;"> button to add job skills</span></div></p></td>
		</tr>
		<tr  bgcolor="#edf2f4">
			<td width = "61%">Skill</td>
			<td>Proficiency</td>
			<td>Importance</td> 
			<td>Required</td>
		</tr>
	</table>		

	<div id ="skillName">
	</div>
	
	<div id ="btn">
		<table>
			<tr>
				<td>
					<input type="submit" name="add" value="Submit"  id="add">
				</td>
			</tr>
		</table	
	</div>					
</div>
