<title>Employer</title>

<table align ="center">
	<tr>
		<td class="errorMessage"></td>
	</tr>
	<tr>
		<td><strong><h1>Add Courses</h1></strong></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="errorMessage"><%=session[:lnermsg]%></td>
	</tr>
	<tr>	
		<form action="listInstitution" name="formName" method="post" enctype="multipart/form-data">
			<td align="right">
				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<div align="right">
								<%= form_tag  %>	
									<input type="submit" value="Add Institution" name="AddInstitution" id="add">&nbsp;
									<input type="submit" value="Add Course" name="AddCourse" id="add">&nbsp;
							</div>
						</td>
					</tr>
				</table>
			</td>
		</form>
	</tr>
	<tr>
		<td>
			<%= form_tag(:action => "addCourse") do  %>	
				<%= render 'formAddCourse' %>
			<%end%>
		</td>
	</tr>
</table>
