<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script>
$(document).ready(function(){

    $( "#signout" ).hide();
});
</script>

<title>SkillSmart: Find your fit.</title>
</head>

<body>
	
<!-- CONTAINER -->
<div id="home" class="container">
		
<!-- SLIDESHOW -->
<div id="wrapSlideshow">
	<div id='slideshow'>
		<div id='slider1'>
			<div class="slide">
				<div class="caption">
					<h2>Find the right fit. The smart way.</h2>
					<p>We increase your pool of potential skilled employees.</p>
					<a class="button" href='/home/login'>Find Talent &raquo;</a>
				</div>
				<div class="img">
					<img src="/images/slide-1.png" />
				</div>
			</div>
		</div>
		<div id='slider2'>
			<div class="slide">
				<div class="caption">
					<h2>You've got skills. We've got jobs.</h2>
					<p>It's never been easier to get connected with potential employers.</p>
					<a class="button" href='/jobseeker/login'>Search Jobs &raquo;</a>
				</div>
				<div class="img">
					<img src="/images/slide-2.png" />
				</div>
			</div>
		</div>
	</div>
	<div id="slideNav">
		<a href="#slider1" class="caroufredsel">1</a>
		<a href="#slider2" class="caroufredsel">1</a>
	</div>
</div>
<!-- END SLIDESHOW -->

<!-- INFOGRAPHIC -->
<div id="wrapInfo" class="clearfix">
	<div id="info">
		<div class="infoIntro">
			<h1>Think of us as matchmakers for careers.</h1>
			<p>SkillSmart quickly matches job seekers with open positions based on their skill ability. But that’s not all. We highlight training opportunities to improve job seekers’ skills to get (or keep) that dream job. That means more qualified candidates for specialized positions and less turnover. That’s just smart.</p>
		</div>
		<div class="threeCol">
			<div class="infoImage">
				<img src="/images/info-1.png" />
			</div>
			<div class="infoText">
				<p>Employers identify needs, job seekers enter skills</p>
			</div>
		</div>
		<div class="threeCol">
			<div class="infoImage">
				<img src="/images/info-2.png" />
			</div>
			<div class="infoText">
				<p>We match job seekers’ skills and talents against what employers need</p>
			</div>
		</div>
		<div class="threeCol">
			<div class="infoImage">
				<img src="/images/info-3.png" />
			</div>
			<div class="infoText">
				<p>We identify educational opportunities for job seekers to further skills</p>
			</div>
		</div>
	</div>
</div>
<!-- END INFOGRAPHIC -->

<!-- SEARCH -->
<div id="wrapSearch" class="clearfix">
	<div id="search">
		<div class="searchIntro">
			<h1>Find your fit.</h1>
			<p>Whether you’re a job seeker looking to land your dream job or an employer looking for that perfect talent, SkillSmart’s the first stop to finding the right fit. Get started now. </p>
		</div>
		<div class="searchButtons">
			<a href='/jobseeker/login'>Search Jobs &raquo;</a>
			<a href='/home/login'>Find Talent &raquo;</a>
		</div>
	</div>
</div>
<!-- END SEARCH -->

	
</div>
<!-- END CONTAINER -->

</body>
</html>
