<title>Employer</title>
<div id="container" style="width:100%">
	<div id="header" style="background-color:#FFA500; height:50px"><h1 style="margin-bottom:0;">SKILL SMART</h1></div>
		<div id="menu" style="background-color:#FFD700;height:500px;width:100px;float:left;">
			<br>
			<%= link_to image_tag('/images/job_openings.jpg') %><br> <br> 
			<%= link_to image_tag('/images/jobtracking.png')  %><br><br>
			<%= link_to image_tag('/images/portfolio.gif') %><br>
			<%= link_to image_tag('/images/maindemo.jpg')  %><br>
		</div>
	</div>	
</div>
