@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
	background: none repeat scroll 0 0 #edf2f4;
	font-family: 'Questrial', sans-serif;
	color: #6a747c;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 38px;
	color: #007dc3;
	font-weight: 400;
	margin: 5px 0;
}

p {
	font-size: 18px;
	line-height: 32px;
	display: block;
	margin: 8px 0 20px;
	font-weight: 400;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#home.container {
	overflow: hidden;
}

/* HEADER STYLES */

#wrapHeader {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
}

#header {
	width: 92%;
	margin: 0 auto;
	padding: 0;
}

#logo {
	display: block;
	float: left;
	margin: 15px 0 20px;
}

#logo:hover {
	opacity: 0.8;
}

#utilityMenu {
	display: block;
	float: right;
	margin: 15px 0 20px;
}

#utilityMenu .menu {
	display: inline-block;
	list-style: none;
}

#utilityMenu .menu li {
	display: inline;
	float: left;
}

#utilityMenu .menu li a {
	font-size: 13px;
	color: #6a747c;
	padding: 0 8px;
	text-decoration: none;
}

#utilityMenu .menu li a:hover {
	color: #3a3d44;
}

/* SLIDESHOW STYLES */

#wrapSlideshow {
	background: none repeat scroll 0 0 transparent;
	width: 100%;
	height: 419px;
	display: block;
	overflow: hidden;
	position: relative;
}

#slideshow {
	width: 100%;
	position: relative;
}

#slider1 {
	background: none repeat scroll 0 0 #007dc3;
}

#slider2 {
	background: none repeat scroll 0 0 #4a5155;
}


.slide {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
}

.caption {
	display: block;
	float: left;
	width: 350px;
	margin: 60px 60px 60px 0;
}

.caption h2 {
	font-family: 'Questrial';
	color: #ffffff;
	font-size: 46px;
	font-weight: 300;
	margin: 0 0 10px;
}

.caption p {
	font-family: 'Questrial';
	color: #ede9e9;
	font-size: 23px;
	letter-spacing: 0.02em;
}

.caption .button {
	background: none repeat scroll 0 0 #f47c30;
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	border: 1px solid #c25916;
	padding: 13px 22px;
	display: inline-block;
	width: auto;
}

#slideNav {
	position: absolute;
	height: 18px;
	margin: 0;
	top: 88%;
	left: 50%;
}

#slideNav a {
	text-indent: -50000px;
	background: url('/images/slide-nav.png') no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin: 0;
	padding: 0;
	line-height: 0px;
}

#slideNav .caroufredsel:active a, #slideNav a:hover {
	background: url('/images/slide-nav-active.png') no-repeat scroll 0 0 transparent;
}

/* INFOGRAPHIC STYLES */

#wrapInfo {
	background: none repeat scroll 0 0 #edf2f4;
	width: 100%;
}

#info {
	width: 980px;
	margin: 0 auto;
	padding: 30px 0;
}

.infoIntro {
	display: block;
}

.threeCol {
	width: 30%;
	display: block;
	float: left;
	text-align: center;
	padding: 20px 15px;
}

.threeCol .infoImage {
	display: block;
}

.threeCol p {
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 21px;
	margin: 10px 35px;
}

/* SEARCH SECTION STYLES */

#wrapSearch {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
}

#search {
	width: 980px;
	margin: 0 auto;
	padding: 30px 0;
}

.searchButtons a {
	background: none repeat scroll 0 0 #f47c30;
	display: block;
	padding: 15px;
	color: #FFFFFF;
	font-size: 21px;
	text-decoration: none;
	margin: 8px 10px 30px 0;
	border: 1px solid #c25916;
	border-radius: 2px 2px 2px 2px;
	float: left;
	min-width: 160px;
}

.searchButtons a:hover {
	background: none repeat scroll 0 0 #c85f1d;
	border: 1px solid #f47c30;
}

/* INTERNAL MAIN CONTENT STYLES */

#wrapContent {
	width: 92%;
	margin: 0 auto;
	padding: 30px 0;
}

#wrapBreadcrumbs {
	width: 960px;
	margin: 0 0 30px;
}

#breadcrumbs {
	display: inline-block;
	float: left;
}

#breadcrumbs ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#breadcrumbs ul li {
	color: #6a747c;
	display: inline-block;
	float: left;
	text-align: left;
	padding: 0 3px 0 0;
}

#breadcrumbs ul li a {
	color: #6a747c;
	font-size: 14px;
	text-decoration: none;
	padding: 0;
}

#breadcrumbs ul li a:hover {
	color: #3a3d44;
}

#leftCol {
	background: none repeat scroll 0 0 transparent;
	width: 25%;
	display: block;
	float: left;
	margin: 0 25px 25px 0;
	padding: 0;
}

#buttonMenu {
	width: 100%;
	padding: 0;	
	margin: 0 0 30px;
}

#buttonMenu ul {
	list-style: none;
	display: block;
	margin:0;
	padding: 0;
}

#buttonMenu ul li {
	display: block;
}

#buttonMenu ul li a {
	background: none repeat scroll 0 0 #f47c30;
	display: block;
	padding: 10px 15px;
	color: #FFFFFF;
	font-size: 21px;
	text-decoration: none;
	margin: 8px 10px 2px 0;
	border: 1px solid #c25916;
	border-radius: 2px 2px 2px 2px;
	float: left;
	min-width: 215px;
}

#buttonMenu ul li a:hover {
	background: none repeat scroll 0 0 #c85f1d;
	border: 1px solid #f47c30;
}

#rightCol {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 72%;
	display: block;
	margin: 0 0 30px 0;
	padding: 0;
	float: right;
}

#oneCol {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
	display: block;
	margin: 0 0 30px 0;
	padding: 0;
}

.content {
	width: 93%;
	padding: 25px;
}

	
	/* TABLE STYLES */
	table {
		width: 100%;
		font-family: 'Questrial', sans-serif;
		color: #6a747c;
	}

	table td {
		padding: 10px;
	}

	table td a {
		color: #f47b2f;
		text-decoration: none;
	}

	table td a:hover {
		color: #c85f1d;
	}


	/* JQUERY STYLES */

	#tabs {
		background: none repeat scroll 0 0 #EDF2F4;
	}

	.ui-tabs .ui-tabs-nav li {
		border: 0;
	}

	.ui-widget-header {
		border: 0;
	}

	.fontHeading h1 {
		font-family: 'Questrial', sans-serif;
		font-size: 38px;
		color: #007dc3;
		font-weight: 400;
		margin: 5px 0;
		text-align: left;
	}

	#internalOneCol .fontHeading h1 {
		text-align: center;
	}

	.fontHeading h2 {
		font-family: 'Questrial', sans-serif;
		font-size: 30px;
		color: #6a747c;
		font-weight: 400;
		margin: 5px 0;
		text-align: left;
	}

	.textfont {
		font-family: 'Questrial', sans-serif;
		font-size: 15px;
		color: #6a747c;
		line-height: 21px;
	}

	/* This is for the links like "New User", etc. -- apply to a different class if this affects other <a> elements that should not be orange. */
	.textfont a {
	    color: #f47b2f;
	    display: block;
	    font-size: 15px;
	    margin: 0 0 20px;
	    text-align: center;
	    text-decoration: none;
	}

	.textfont a:hover {
		color: #c85f1d;
	}

	.fieldLabel {
		padding-right: 10px;
	}

	input, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	    border: 1px solid #D1D3D5;
	    border-radius: 2px 2px 2px 2px;
	    color: #6A747C;
	    font-family: 'Questrial', sans-serif;
	    font-size: 15px;
	    padding: 10px;
	}
	
	.downdownbox{
	    border: 1px solid #D1D3D5;
	    border-radius: 2px 2px 2px 2px;
	    color: #6A747C;
	    font-family: 'Questrial', sans-serif;
	    font-size: 15px;
	    padding: 10px;
	}

	/* This is for the login button, etc. -- apply to different class if this affects tabs or other elements that do not need a top margin */
	input.ui-button {
		margin: 20px 0 0;
	}

	.fontMyJobs {
		font-family: 'Questrial', sans-serif;
		color: #6A747C;
	}

	.fontMyJobsTitle {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 16px;
		color: #f47c30;
		padding: 20px 0 0;
	}

	.fontMyJobsTitle a {
		color: #f47c30;
		text-decoration: none;
	}

	.fontMyJobsComp {
		font-family: 'Questrial', sans-serif;
		font-size: 16px;
		color: #007dc3;
	}

	.buttonStyle {
		background: none repeat scroll 0 0 #f47c30;
		display: block;
		padding: 10px 15px;
		color: #FFFFFF;
		font-size: 21px;
		text-decoration: none;
		margin: 20px 10px 8px 0;
		border: 1px solid #c25916;
		border-radius: 2px 2px 2px 2px;
		float: left;
		min-width: 100px;
	}

	.buttonStyle:hover {
		background: none repeat scroll 0 0 #c85f1d;
		border: 1px solid #f47c30;
	}

	table.serifa {
		font-family: 'Questrial', sans-serif;
		color: #6A747C;
	}



/* FOOTER STYLES */

#wrapFooter {
	background: none repeat scroll 0 0 #6a747c;
	width: 100%;
}

#footer {
	width: 92%;
	margin: 0 auto;
	padding: 30px 0;
}

.footerLeft {
	display: block;
	float: left;
}

.footerLeft .menu {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

.footerLeft .menu li {
	display: block;
}

.footerLeft .menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
}

.footerLeft .menu li a:hover {
	color: #edf2f4;
}

.footerRight {
	display: block;
	float: right;
}

.social {
	display: block;
	text-align: right;
}

.social img {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	padding: 0 5px;
}

.social img:hover {
	opacity: 0.8;
}

.footerCopyright {
	width: 92%;
	margin: 0 auto;
}

.footerCopyright p {
	display: block;
	color: #FFFFFF;
	font-size: 13px; 
	text-align: left;
	padding: 20px 0 30px;
	margin: 0;
}




